
 <div class="box">
   <div class="image">
     <img src="/static/images/<%= resim %>" alt="" />
   </div>
   <div class="box-content">
    <a style="text-decoration: none;" href="/blogs/<%=blogid %>" ><h1><%= baslik %></h1></a>
     <p><%- aciklama %></p>
   </div>
 </div>

