<div class="menü">
 
    <ul>
      <li>
        <a href="/" >Tüm kategoriler</a>
      </li>
      <% categories.forEach(function(category) { %>
      
        <li>
  
        <a href="/blogs/category/<%= category.categoryid %>"><%= category.name %></a>
      </li>
      <%}); %>
    </ul>
  </div> 